{% extends "poule/sidebar.html" %}

{% block content %}


    {#    {% for date in date_list%}#}
    {#        <h2>{{ date|date:"l j F Y" }}</h2>#}
    {% for date,game_list in date_dict.items %}
        <h3>{{ date|date:"l j F Y" }}</h3>
        {% for game in game_list %}
            <div class="card-group card-hover col-10">
                <div class="card col-2">
                    <div class="card-body row h-100 align-items-center justify-content-center">
                        <span class=""><h2 class="text-muted ">{{ game.date|date:"H:i" }}</h2></span>
                    </div>
                </div>
                <div class="card col-8 text-center">
                    <div class="card-body row h-100 align-items-center">
                        <div class="col-2">
                            <img src=" {{ game.team1.image.url }} " class="rounded img-fluid">
                        </div>
                        <div class="col-3">
                            <h4 class="font-weight-light">{{ game.team1.name }}</h4>
                        </div>
                        <div class=" col-2">
                            <div class="row justify-content-center">
                                <select class="select form-control custom-select" onselect=""
                                        style="width: 60px; height:50px;">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5+</option>
                                </select>
                                <select class="select form-control custom-select" style="width: 60px; height:50px;">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5+">5+</option>
                                </select>
                                {#                                <div class="dropdown">#}
                                {#                                    <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button"#}
                                {#                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"#}
                                {#                                            aria-expanded="false">#}
                                {#                                        0#}
                                {#                                    </button>#}
                                {#                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
                                {#                                        <a class="dropdown-item" href="#">1</a>#}
                                {#                                        <a class="dropdown-item" href="#">2</a>#}
                                {#                                        <a class="dropdown-item" href="#">3</a>#}
                                {#                                        <a class="dropdown-item" href="#">4</a>#}
                                {#                                        <a class="dropdown-item" href="#">5+</a>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="dropdown">#}
                                {#                                    <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button"#}
                                {#                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"#}
                                {#                                            aria-expanded="false">#}
                                {#                                        0#}
                                {#                                    </button>#}
                                {#                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
                                {#                                        <a class="dropdown-item" href="#">1</a>#}
                                {#                                        <a class="dropdown-item" href="#">2</a>#}
                                {#                                        <a class="dropdown-item" href="#">3</a>#}
                                {#                                        <a class="dropdown-item" href="#">4</a>#}
                                {#                                        <a class="dropdown-item" href="#">5+</a>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <button type="button" class="btn btn-lg btn-outline-secondary">1</button>#}
                                {##}
                                {#                                <button type="button" class="btn btn-lg btn-outline-secondary ">2</button>#}
                            </div>

                        </div>

                        <div class="col-3">
                            <h4 class="font-weight-light">{{ game.team2.name }}</h4>
                        </div>
                        <div class="col-2">
                            <img src=" {{ game.team2.image.url }} " class="rounded img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card col-2 p-1">
                    <div class="card-body row h-100 align-items-center justify-content-center">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="button-group">
                                    <div class="row">
                                        <button type="button" class="btn btn-lg btn-outline-secondary disabled">1
                                        </button>

                                        <button type="button" class="btn btn-lg btn-outline-secondary disabled">2
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-3 ">
                        <span class=" badge badge-pill badge-success" style="font-weight: bold; font-size: large;
                            text-align: center;">4</span>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        {% endfor %}
    {% endfor %}
    {#    {% endfor %}#}

    {##}
    {#    {% for game in object.games.all %}#}
    {#        <div class="card-group card-hover col-10">#}
    {#            <div class="card col-2 ">#}
    {#                <div class="card-body row h-100 align-items-center justify-content-center">#}
    {#                    <span class=""><h2 class="text-muted ">{{ game.date|date:"H:i" }}</h2></span>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="card col-8 text-center">#}
    {#                <div class="card-body row h-100 align-items-center">#}
    {#                    <div class="col-2">#}
    {#                        <img src=" {{ game.team1.image.url }} " class="rounded img-fluid">#}
    {#                    </div>#}
    {#                    <div class="col-3">#}
    {#                        <h4 class="font-weight-light">{{ game.team1.name }}</h4>#}
    {#                    </div>#}
    {#                    <div class="button-group button-group-lg col-2">#}
    {#                        <div class="row">#}
    {#                            <button type="button" class="btn btn-lg btn-outline-secondary">1</button>#}
    {##}
    {#                            <button type="button" class="btn btn-lg btn-outline-secondary ">2</button>#}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {##}
    {#                    <div class="col-3">#}
    {#                        <h4 class="font-weight-light">{{ game.team2.name }}</h4>#}
    {#                    </div>#}
    {#                    <div class="col-2">#}
    {#                        <img src=" {{ game.team2.image.url }} " class="rounded img-fluid">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="card col-2 p-1">#}
    {#                <div class="card-body row h-100 align-items-center justify-content-center">#}
    {#                    <div class="row align-items-center">#}
    {#                        <div class="col-8">#}
    {#                            <div class="button-group">#}
    {#                                <div class="row">#}
    {#                                    <button type="button" class="btn btn-lg btn-outline-secondary disabled">1</button>#}
    {##}
    {#                                    <button type="button" class="btn btn-lg btn-outline-secondary disabled">2</button>#}
    {#                                </div>#}
    {##}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-3 ">#}
    {#                        <span class=" badge badge-pill badge-success" style="font-weight: bold; font-size: large;#}
    {#                            text-align: center;">4</span>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {##}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    {% endfor %}#}
    {#    <div class="card-group col-10">#}
    {#        <div class="card col-2 ">#}
    {#            <div class="card-body row h-100 align-items-center justify-content-center">#}
    {#                <span class=""><h2 class="text-muted ">17:00</h2></span>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="card col-8 text-center">#}
    {#            <div class="card-body row h-100 align-items-center">#}
    {#                <div class="col-2">#}
    {#                    <img src=" {{ user.profile.image.url }} " class="rounded img-fluid">#}
    {#                </div>#}
    {#                <div class="col-3">#}
    {#                    <label class="">Team 1 Name</label>#}
    {#                </div>#}
    {#                <div class="button-group button-group-lg col-2">#}
    {#                    <div class="row">#}
    {#                        <button type="button" class="btn btn-lg btn-outline-secondary">1</button>#}
    {##}
    {#                        <button type="button" class="btn btn-lg btn-outline-secondary ">2</button>#}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {##}
    {#                <div class="col-3">#}
    {#                    <label>Team 2 Name</label>#}
    {#                </div>#}
    {#                <div class="col-2">#}
    {#                    <img src=" {{ user.profile.image.url }} " class="rounded img-fluid">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="card col-2 p-1">#}
    {#            <div class="card-body row h-100 align-items-center justify-content-center">#}
    {#                <div class="row align-items-center">#}
    {#                    <div class="col-8">#}
    {#                        <div class="button-group">#}
    {#                            <div class="row">#}
    {#                                <button type="button" class="btn btn-lg btn-outline-secondary disabled">1</button>#}
    {##}
    {#                                <button type="button" class="btn btn-lg btn-outline-secondary disabled">2</button>#}
    {#                            </div>#}
    {##}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-3 ">#}
    {#                        <span class=" badge badge-pill badge-success" style="font-weight: bold;#}
    {#    font-size: large;#}
    {#    text-align: center;">4</span>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {##}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </div>#}
{% endblock content %}