{% extends "poule/sidebar.html" %}
{% block content %}
    {% with users=object.users.all %}
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ranking</h5>
                    <div class="table-responsive">
                        <table id="zero_config" class="table">
                            <thead>
                            <tr>
                                <th>Rank</th>
                                <th>User</th>
                                <th>Points</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for player in scores %}
                                <tr {% if player == user %} class="table-warning"  {% endif %}} >
                                    <td>{{ forloop.counter }} {% if forloop.counter == 1 %} <i class="mdi mdi-trophy font-20"></i>{% endif %}</td>
                                    <td><img src=" {{ player.profile.image.url }} " class="rounded-circle img-table mr-1 ">{{ player.username }} {% if player == poule.admin %} <i
                                class="fas fa-cog font-20"></i> {% endif %}</td>
                                    <td><span class=" badge badge-pill badge-success" style="font-weight: bold; font-size: large;
                            text-align: center;">{{scores|get_item:player}}</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock content %}