{% extends 'poule/sidebar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

            <div class="card col-4">
                <div class="card-body">
                    <!-- Form -->

                    <form class="form-horizontal m-t-20" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row p-b-30">
                            <div class="col-12">
                                <fieldset class="border-bottom mb-4">
                                    <legend>Update Team</legend>
                                </fieldset>
                                <div class="media justify-content-center">
                                    <img class="rounded text-center" src="{{ team.image.url }}"
                                         style="width: 100px">
                                </div>
                                <fieldset class="form-group">


                                    {{ form|crispy }}
                                </fieldset>
                            </div>
                        </div>
                        <div class="row border-top border-secondary">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="p-t-20 col-6">
                                        <a href="{% url 'poule-teams' poule.id %}"
                                           class="btn btn-block btn-lg btn-outline-secondary" type="submit">Back</a>
                                    </div>
                                    <div class="p-t-20 col-6">
                                        <button class="btn btn-block btn-lg btn-outline-info" type="submit">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

{% endblock content %}