{% extends "lobby/base.html" %}
{% block content %}
    {% load static %}
    <h2 class="page-title">My Poules</h2>

    <br>
    <div class="card-group mt-2">
        <div class=" row flex-row flex-nowrap">
            {% for poule in user_poules %}
                {#                {% include 'books/book_element.html' %}#}
                <div class="col">
                    <div class="card h-100 card-block card-hover">
                        <img class="card-img-top" src="{{ poule.image.url }}"
                             alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ poule.name }}</h5>
                            <p class="card-text">{{ poule.description }}</p>
                            <a href="{% url 'poule-overview' poule.id %}" class="mt-auto btn btn-primary">Go to Poule</a>
                        </div>
                    </div>
                </div>

                {#            {% if forloop.counter|divisibleby:"5" %}#}
                {#  Close the current deck and start a new one #}
                {#                </div>#}
                {#                <div class="row col-md-10 row-cols-5">#}
                {#            {% endif %}#}
            {% endfor %}
        </div><!-- The final deck is closed here, outside the loop -->
    </div>
    <hr>
    <h2 class="page-title">Active Poules</h2>
    <div class="card-group">
        <div class=" row flex-row flex-nowrap">
            {% for poule in poules %}
                {#                {% include 'books/book_element.html' %}#}
                <div class="col">
                    <div class="card h-100 card-block card-hover">
                        <img class="card-img-top" src="{{ poule.image.url }}"
                             alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ poule.name }}</h5>
                            <p class="card-text">{{ poule.description }}</p>
                            <a href="{% url 'poule-overview' poule.id %}" class="mt-auto btn btn-primary">Join Poule</a>
                        </div>
                    </div>
                </div>

                {#            {% if forloop.counter|divisibleby:"5" %}#}
                {#  Close the current deck and start a new one #}
                {#                </div>#}
                {#                <div class="row col-md-10 row-cols-5">#}
                {#            {% endif %}#}
            {% endfor %}
        </div><!-- The final deck is closed here, outside the loop -->
    </div>

{% endblock content %}