{% extends "lobby/base.html" %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="col-9">
            <div class="card ">
                <div class="card-body ">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="card-title justify-content-center">Welcome to Pouly!</h3>
                            <p class="card-text">Find a poule to join or create one yourself!</p>
                        </div>
                        <div class="col-4 right">
                            <a href="{% url 'poule-create' %}" class="mt-auto btn btn-lg btn-outline-success"><i
                                    class="mdi mdi-plus"></i> Create New Poule</a>
                        </div>
                    </div>

                </div>
            </div>
        {% if user_poules %}
        <h4>My Poules</h4>

        {% endif %}
            {% for poule in user_poules %}
            {% if poule in user_poules %}
            <div class="card-group card-hover">
                <div class="card col-2 p-0">
                    <div class="card-header" style="padding:0">
                        <img class="card-img-top img-fluid" src="{{ poule.image.url }}" style="width:136px" alt="">
                    </div>
                </div>
                <div class="card flex-row flex-wrap">


                    <div class="mt-3 ml-3">
                        <h4 class="card-title">{{ poule.name }} <i class=" far fa-futbol"></i></h4>
                        <p class="">{{ poule.description }}</p>
                    </div>
                </div>
                <div class="card col-3 align-items-center justify-content-center">
                    <a href="{% url 'poule-overview' poule.id %}" class="btn btn-lg btn-block btn-outline-primary">Go to Poule <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        <h4>Active Poules</h4>
        {% for poule in poules %}
            {% if poule not in user_poules %}
        <div class="card-group card-hover">
                <div class="card col-3 p-0">
                    <div class="card-header" style="padding:0">
                        <img class="card-img-top img-fluid" src="{{ poule.image.url }}"  alt="">
                    </div>
                </div>
                <div class="card flex-row flex-wrap">


                    <div class="mt-3 ml-3">
                        <h4 class="card-title">{{ poule.name }} <i class=" far fa-futbol"></i></h4>
                        <p class="">{{ poule.description }}</p>
                    </div>
                </div>
                <div class="card col-3 align-items-center justify-content-center">
                    <a href="{% url 'poule-overview' poule.id %}" class="btn btn-lg btn-block btn-outline-cyan"> Join Poule <i class="mdi mdi-account-plus"></i></a>
                </div>
            </div>
        {% endif %}
        {% endfor %}


{% endblock content %}