{% extends 'lobby/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-8 ">
    <div class="row justify-content-center">
    <div class="card">
        <div class="card-body">
            <!-- Form -->
            <form class="form-horizontal m-t-20" method="POST">
                {% csrf_token %}
                <div class="row p-b-30">
                    <div class="col-12">
                        <fieldset class="border-bottom mb-4">
                            <legend>Create a New Poule</legend>
                        </fieldset>
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>

                    </div>

                </div>
                <div class="row border-top border-secondary">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20">
                                <button class="btn btn-block btn-lg btn-info" type="submit">Create Poule</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
{% endblock %}